<meta charset="UTF-8">
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pid</th>
      <th>name</th>
      <th>price</th>
      <th>location</th>
      <th>description_for_detail</th>
      <th>num_item_view</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>112001358</td>
      <td>(미개봉)맥북프로 16인치 2020 기본형/고급형  (학생할인/네고가능)</td>
      <td>2200000</td>
      <td></td>
      <td>✨ 상세내용 필독 후 문의 바랍니다!✨\n\n*부가세 비포함 현금가입니다. 부가세 10% 포함시 현금영수증 처리 가능\n\n✨맥북프로 16인치 512기가 (스그,실버) 2,200,000원\n      (2주내 수령품 250만원)\n✨맥북프로 16인치 1테라 (스그,실버) 2,600,000원\n      (2주내 수령품 290만원)\n✨CTO 주문시 가격 상이합니다 개별 상담통해 옵션별 추가 금액 확인 해주세요.\n\n▶미개봉 정품\n\n▶배송기간 기본 3개월(cto별도) ,개별 상담 통해서 자세한 배송기간 꼭 확인해주세요\n-.코로나 19 문제로 공급이 원활하지 않습니다. 최대한 노력하여 기한내 배송드릴수있도록 하겠습니다.\n\n▶부가세 비포함된 쿨거래 가격(현금가)입니다.  (부가세 포함시 현금영수증 발행 가능합니다)\n(번개페이는 꼭 카드결제가 필요하신 분들만 받겠습니다. 단순 카드결제 수단으로만 사용드리니 결제 진행전에 꼭 문의후에 진행해주세요,문의없이 결제 진행시 취소처리 드립니다.)\n\n▶상담,배송 문의는 카카오톡 플러스친구: @꿀잼상점 검색후 문의\n    -&gt; 카카오톡 집중 상담 시간: 요일별로 상이 하여 플러스친구 게시판에 공지하였습니다.\n\n▶배송지연 발생시 "배송지연 보상금 페이백" 정책 운영중입니다.\n     -&gt; 카카오톡 플러스친구 게시판에 공지하였습니다.\n\n▶상품수령후 포토후기 필수</td>
      <td>36144</td>
    </tr>
    <tr>
      <th>1</th>
      <td>138548245</td>
      <td>맥북 프로 2020</td>
      <td>1300000</td>
      <td>전라남도 목포시 상동</td>
      <td>맥북 프로 2020 13인치 기본형 판매합니다\n사이클수 33이고 풀박입니다\n연락주세요</td>
      <td>43</td>
    </tr>
    <tr>
      <th>2</th>
      <td>136797039</td>
      <td>맥북프로 2015</td>
      <td>850000</td>
      <td>서울특별시 광진구 군자동</td>
      <td>2015년 맥북프로 입니다\nCTO 모델이라 메모리가 16기가 이고\nSSD는 256  레티나 디스플레이입니다\n애지중지 사용하느라 전체 풀필름 부착하였고\n구성품은 충전기 랑 C타입 맥세이프\n휴대용 파우치까지 드리겠습니다\n건대입구역이나 신사동에서 직거래 원합니다\n네고 가능합니다</td>
      <td>306</td>
    </tr>
    <tr>
      <th>3</th>
      <td>134279794</td>
      <td>풀박 맥북프로 13인치 2017 터치바 3.3ghz i5 512gb 16</td>
      <td>2000000</td>
      <td>서울특별시 강남구 세곡동</td>
      <td>3.3GHz Intel Core i5 프로세서\n16GB 2133MHz LPDDR3 메모리\n512GB SSD 저장 장치\nIntel Iris Plus Graphics 650\nThunderbolt 3 포트 4개\nTouch Bar 및 Touch ID\n상태 SS로 깨끗하고 거의 사용안했어요 첨에 조금 쓰고 그대로에요\n박스 풀세트입니다\n​자곡동 또는 옥수동 직거래합니다\n번개페이 무료택배합니다</td>
      <td>430</td>
    </tr>
    <tr>
      <th>4</th>
      <td>138176773</td>
      <td>2018 맥북프로 15인치 터치바풀박  + 파우치</td>
      <td>1800000</td>
      <td>경기도 안양시 동안구 부림동</td>
      <td>2018 맥북프로 15인치 터치바입니다.\n색상: 실버\nSSD: 256GB \nDDR4 RAM 16GB\n사이클: 76\n\n구성은 맥북,  파우치, 충전기, 풀박 입니다.\n맥북같은 고가의 제품은 파우치가 꼭 필요하다고 생각합니다. 액정 빛샘 등의 액정하자는 전혀 없으며, 컨디션 매우 좋은 제품입니다.\n \n색상은 실버로 스그와는 또다른 매력을 품는 색상입니다. 총 싸이클 76이면 거의 사용을 안했다고 해도 무방하죠. 좋은제품 좋은 사람에게 갔으면 좋겠습니다.\n\n그외 윈도우 필요하신 분들은 무료로 설치 및 셋팅 해드립니다.</td>
      <td>87</td>
    </tr>
    <tr>
      <th>5</th>
      <td>129684998</td>
      <td>(삽니다) 맥북프로 에어 아이패드 lg그램 삼성 아이맥 갤럭시탭노트북</td>
      <td>0</td>
      <td>서울특별시 성동구 성수1가제1동</td>
      <td>OlO 8337 3 l l 2 문자 주시거나\nㅋr톡 seller7777 친구추가 후 문의주세요.\n\n\n안녕하세요\n모든 전자제품 구매하는\n번개장터 파워업up 업체입니다 ^-^\n\n\n저희가 고객님 전자기기를 모두 삽니다.\n\n모든 노트북 및 태블릿pc 전자제품\n델 msi asus 기가바이트 애플 전제품 맥북에어 맥북프로\n아이패드 아이맥 맥미니 서피스프로 서피스랩탑 서피스북\n삼성 플렉스북 이온 오딧세이 lg 엘지 그램 울트라북 모니터\n카메라 dslr hp 17인치 15인치 등등\n\n모든 제품  전제품 최고가 당일 출장 매입 구매합니다 \n\nOlO 8337 3 l l 2\n 문자 주시거나\n\nㅋr톡  seller7777 친구추가 후 문의주세요.\n\n감사합니다. \n언제나 친절히 응대하며,\n가격은 최대치로 맞춰드리겠습니다.\n\nOlO 8337 3 l l 2\n 문자 주시거나\nㅋr톡 seller7777 친구추가 후 문의주세요.\n\n번개톡은 확인이 매우 늦거나 어렵습니다.\n빠른 판매 원하시면 문자나 카톡주세요\n\n\n\n\n\n</td>
      <td>20178</td>
    </tr>
    <tr>
      <th>6</th>
      <td>137699327</td>
      <td>2019 맥북 프로 13인치  256GB, 풀박스</td>
      <td>1200000</td>
      <td>경기도 안양시 동안구 부림동</td>
      <td>2019 맥북프로 13인치 터치바 256GB\n\n256gb모델이며, 사진보면 알다싶히 상태는\n정말 좋습니다. 액정 기스, 흠집 하나도 없으며,\nSSD 추가가 거의 불가능한 맥북인지라 256정도면 \n\n파이널컷 등 기타 작업 프로그램도 여유롭게 다운로드 가능하며 윈도우파티션을 나눠줘도 괜찮은 선택입니다.\n 사이클 총 181 (맥북 평균 사이클 수1000)\n\n윈도우 설치 원하실 경우 무료로 진행도 해드립니다. 연락주세요~</td>
      <td>222</td>
    </tr>
    <tr>
      <th>7</th>
      <td>136203448</td>
      <td>2019 맥북 프로 13인치 터치바</td>
      <td>1100000</td>
      <td>경기도 안양시 동안구 부림동</td>
      <td>2019 맥북프로 13인치 터치바 극 미사용 제품입니다.\n\n128gb모델이며, 사진 보시면 그냥 사용을 안했다라고 표현을 할수있을 정도로 상태가 좋습니다. 사이클 총 10 (맥북 평균 사이클 수1000)\n\n거의새것이라고 생각하시면 됩니다. 풀박에 구성품 다 가지고 있으며, 터치패드 및 양사이드에 보호필름 부착되어 있습니다. \n\n충전기 및 충전 선은 아예 사용조차 하지않은 신품이며, 처음 샀을때의 포장 종이 , 비닐 전부 버리지 않고 그대로 모셔놓은 제품입니다. \n\n윈도우 설치 원하실 경우 무료로 진행도 해드립니다. 연락주세요~\n</td>
      <td>662</td>
    </tr>
    <tr>
      <th>8</th>
      <td>137784229</td>
      <td>[S급] 2017 맥북프로 256 2.4ghz 논터치바 풀박스 판매</td>
      <td>850000</td>
      <td>서울특별시 은평구 진관동</td>
      <td>외관 하자 일절없음 \r\n충전기 (사용감있음, 필요하면 드림) 포함 풀박.\r\n2020 맥북프로 13인치 추금 거래 가능 +60정도 가능\r\n번개페이 가능, 직거래 위주 \r\n거래 시 환불 x\r\n연락주시면 외관 사진 보내드립니다.</td>
      <td>87</td>
    </tr>
    <tr>
      <th>9</th>
      <td>138608393</td>
      <td>맥북프로 15인치 고사양 입니다</td>
      <td>490000</td>
      <td>서울특별시 노원구 상계6.7동</td>
      <td>cpu  i7  2.4ghz\nram  8g\n그래픽카드 내장 HD 3000\n그래픽카드 외장 HD 6750M  1G\nDVD-rw 정상 작동 됩니다 \nssd  240  신품 부트캠프 설치됨 windows 10pro 64비트  맥os \n        120+120\n밧데리 ㆍ신품\n기능 이상 무\n충전기 본체  드립니다 \n\n상태 ㆍ깨끗합니다 ㆍ 부품 사용감 적어요 ㆍ깨끗합니다 \n본체ㆍ충전기드립니다</td>
      <td>36</td>
    </tr>
  </tbody>
</table>
</html>