<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="map" style="width: 100%; height: 100vh;"></div>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4f5517aee51dd99d425c74f27bae8e2f&libraries=clusterer"></script>

    <script>
        const url = "https://raw.githubusercontent.com/hayoon/HelloGit/main/data.json";

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
          mapOption = { 
            center: new kakao.maps.LatLng(37.55321, 126.972613), // 지도의 중심좌표
            level: 12, // 지도의 확대 레벨
            mapTypeId: kakao.maps.MapTypeId.ROADMAP, // 지도종류
         };

        // 지도를 생성합니다
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
        if (navigator.geolocation) {
            
            // GeoLocation을 이용해서 접속 위치를 얻어옵니다
            navigator.geolocation.getCurrentPosition(function(position) {
                
                var lat = position.coords.latitude, // 위도
                    lon = position.coords.longitude; // 경도
                
                var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                    message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
                
                // 마커와 인포윈도우를 표시합니다
                displayMarker(locPosition, message);
                    
            });
            
        } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
            
            var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),    
                message = 'geolocation을 사용할수 없어요..'
                
            displayMarker(locPosition, message);
        }

        // 지도에 마커와 인포윈도우를 표시하는 함수입니다
        function displayMarker(locPosition, message) {

            // 마커를 생성합니다
            var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
            var imageSize = new kakao.maps.Size(24, 35); 
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 

            var markerUser = new kakao.maps.Marker({  
                map: map, 
                position: locPosition,
                image : markerImage
            }); 
            
            var iwContentUser = message, // 인포윈도우에 표시할 내용
                iwRemoveable = true;

            // 인포윈도우를 생성합니다
            var infowindowUser = new kakao.maps.InfoWindow({
                content : iwContentUser,
                removable : iwRemoveable
            });
            
            // 인포윈도우를 마커위에 표시합니다 
            infowindowUser.open(map, markerUser);
            
            // 지도 중심좌표를 접속위치로 변경합니다
            map.setCenter(locPosition); 
            // setLevel 시 애니메이션 효과의 지속시간을 500ms로 설정
            map.setLevel(6, {
                animate: {
                    duration: 1500
                }
            });
            
            // 마커가 드래그 가능하도록 설정합니다 
            markerUser.setDraggable(true); 
        }  

        
        // 마커 클러스터러를 생성합니다 
		var clusterer = new kakao.maps.MarkerClusterer({
        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
        minLevel: 5 // 클러스터 할 최소 지도 레벨 
    	});

        fetch(url)
        .then((res) => res.json())
        .then(myJson => {
         console.log(JSON.stringify(myJson.slice(0, 1500), null, 1))

         var markers = [];
 
         for (var i=0; i < myJson.slice(0, 1500).length; i++) {
 
          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
             position: new kakao.maps.LatLng(myJson[i]['lons'], myJson[i]['lats']), // 마커가 표시될 위치입니다 
             map: map, // 마커가 지도 위에 표시되도록 설정합니다
             clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
           });

          // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
          var iwContent = '<div style="padding:5px;"><br><a href=' + myJson[i]["link"] + ' '+ "target='_blank'>" + myJson[i]["title"] +' </a> </br> '+ myJson[i]["price"] +'</div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
              iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다
 
          // 인포윈도우를 생성합니다
          var infowindow = new kakao.maps.InfoWindow({
              content : iwContent,
              removable : iwRemoveable
             });
        
          markers.push(marker);
          // 마커에 클릭이벤트를 등록합니다
          kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));    
         
        }

        // 클러스터러에 마커들을 추가합니다
        clusterer.addMarkers(markers);
        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다 
        function makeOverListener(map, marker, infowindow) {
            return function() {
                infowindow.open(map, marker);
            };
        }



        });

	</script>
</body>
</html>
    